# Übungseinheit 12: SQLite mit Python

## Wilkommen zu dieser Übungseinheit!


In dieser Übungseinheit überprüfen wir unser neu erlerntes wissen und lernen, es praktisch anzuwenden.

## Worum geht es in dieser Übung?

1. Eine neue Tabelle mit SQLite erstellen
2. Eine Zeile in die Datenbank einfügen
3. Eine Abfrage aus der Datenbank ausführen 
4. Bei einer Abfrage nur bestimmte Spalten zurückgeben
5. Die Tabelle ändern und löschen

***

<div class="alert alert-block alert-info">
    <h3>1. Eine neue Tabelle mit <code>sqlite3</code> erstellen</h3>
</div>

Erstellen Sie eine neue Datenbank mit Namen `aufgabe12.db` und fügen Sie die folgende Tabelle `autoinfo` hinzu.<br>
Denken Sie daran, die Verbindung immer zu schließen.

| id | hersteller | anz_türen | art | motorgröße | ps | preis|
|:-: | :--: | :----------: | :--------: | :---------: | :--------: | :--: |
|C001| Audi | zwei | sedan | 136 | 110| 60000 |
|C002| BMW | zwei | cabriolet | 130| 182| 62000 |
|C003| Chevrolet |vier|hatchback|61|	48| 38000 |
|C004| Honda |vier|	wagon |	92 | 76| 47000 |
|C005| Jaguar|zwei|sedan|326|262| 78000 |

<div class="alert alert-block alert-success">
<h2>Lösung:</h2>
</div>

In [1]:
import sqlite3

<div class="alert alert-block alert-info">
<h3>2. Daten einfügen</h3>
</div>

Fügen Sie die oben gezeigten Datenzeilen in die gerade erstellte Tabelle ein.


**Optional:** Können Sie eine clevere Methode finden, um die Daten mit einer for-Schleife und Platzhaltern in die Datenbank einzufügen?

<div class="alert alert-block alert-success">
<h2>Lösung:</h2>
</div>

In [3]:
# Daten einfügen

<div class="alert alert-block alert-info">
<h3>3. Abfragen ausführen</h3>
</div>

Verwenden Sie ein `SELECT`-Statement, um alle Zeilen und Spalten aus der Tabelle `autoinfo` auszulesen.

<div class="alert alert-block alert-success">
<h2>Lösung:</h2>
</div>

('C001', 'Audi', 'zwei', 'sedan', '136', '110', '60000')
('C002', 'BMW', 'zwei', 'convertible', '130', '182', '62000')
('C003', 'Chevrolet', 'vier', 'hatchback', '61', '48', '38000')
('C004', 'Honda', 'vier', 'wagon', '92', '76', '47000')
('C005', 'Jaguar', 'zwei', 'sedan', '326', '262', '78000')

<div class="alert alert-block alert-info">
<h3>4. Bei der Abfrage nur bestimmte Spalten zurückgeben</h3>
</div>

Führen Sie eine Abfrage der Datenbank durch, bei der nur die Spalten `hersteller`, `art` und `preis` für diejenigen Autos zurückgegeben werden, deren Preis größer als 60.000 € ist.

<div class="alert alert-block alert-success">
<h2>Lösung:</h2>
</div>

HERSTELLER =  BMW
ART =  convertible
PREIS =  62000
---------------

HERSTELLER =  Jaguar
ART =  sedan
PREIS =  78000
---------------

<div class="alert alert-block alert-info">
<h3>5. Änderungen und Löschungen vornehmen
</h3>
</div>

Preise für Autos von *Chevrolet* sind um 11 Prozent gestiegen. <br />
Die Marke **Jaguar** möchte nicht mehr in Deutschland verkaufen. Löschen Sie die entsprechenden Daten aus der Tabelle und geben Sie nur die weiterhin verfügbaren Hersteller aus.

**Hinweis 1:** Da Chevrolet nur einmal in der Tabelle vorkommt, ist eine einfache Lösung (ohne for-Schleife) möglich. Hilfreich könnte die Methode `.fetchall()` des Cursors sein.

**Hinweis 2:** Schauen Sie Kommandos nach, die eine Zeile nach einer bestimmten Bedingung löschen.

<div class="alert alert-block alert-success">
<h2>Lösung:</h2>
</div>

In [6]:
# Erhöhe den Preis von Chevrolet um 11 Prozent

Preise aller Zeilen mit Hersteller Chevrolet:  [('38000',)]
Neuer Preis nach Erhöhung um 11 Prozent:  42180
Anzahl der modifizierten Zeilen:  1
('C001', 'Audi', 'zwei', 'sedan', '136', '110', '60000')
('C002', 'BMW', 'zwei', 'convertible', '130', '182', '62000')
('C003', 'Chevrolet', 'vier', 'hatchback', '61', '48', 42180)
('C004', 'Honda', 'vier', 'wagon', '92', '76', '47000')
('C005', 'Jaguar', 'zwei', 'sedan', '326', '262', '78000')

In [7]:
# Die Zeile mit dem Hersteller Jaguar löschen

Anzahl der modifizierten Zeilen:  1
Hersteller:  Audi
---------------
Hersteller:  BMW
---------------
Hersteller:  Chevrolet
---------------
Hersteller:  Honda
---------------

### ENDE